{% extends 'home/base.html' %}
{% load static %}

{%block title%}Editar empleado{%endblock%}

{%block content%}
    {% include 'home/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Modificar datos de empleado</h1>
            <div class="cell">
                <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                    <div class="large-6 cell">
                        <label>Nombres:
                            {{ form.first_name }}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Apellidos:
                            {{ form.last_name }}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Trabajo:
                            {{ form.job }}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Departamento:
                            {{ form.departamento }}
                        </label>
                    </div>
                    <div class="large-6 cell">
                        <label>Habilidades:
                            {{ form.habilidades }}
                        </label>
                    </div>
                    <button type="submit" class="submit success button cell">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
{%endblock%}